<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="scroll-container">
    <div>
        {% bracket.name %} <br>
        {% bracket.pool_size %}
    </div>
    <div class="tournament-bracket">
        <div class="column left">
            <div class="round round-of-4">
                <div class="match">
                    <div class="team top" id="team1" hx-post="/update-match" hx-target="#semi-final1-top" hx-swap="outerHTML" hx-vals='{"team_id": "team1"}'>Team1</div>
                    <div class="team bottom" id="team2" hx-post="/update-match" hx-target="#semi-final1-top" hx-swap="outerHTML" hx-vals='{"team_id": "team2"}'>Team2</div>
                </div>
                <div class="match">
                    <div class="team top" id="team3" hx-post="/update-match" hx-target="#semi-final1-bottom" hx-swap="outerHTML" hx-vals='{"team_id": "team3"}'>Team3</div>
                    <div class="team bottom" id="team4" hx-post="/update-match" hx-target="#semi-final1-bottom" hx-swap="outerHTML" hx-vals='{"team_id": "team4"}'>Team4</div>
                </div>
            </div>
        </div>
        <div class="column left">
            <div class="round round-of-2">
                <div class="match">
                    <div class="team top" id="semi-final1-top"></div>
                    <div class="team bottom" id="semi-final1-bottom"></div>
                </div>
            </div>
        </div>
        <div class="champion">
            <div class="final">
                <div class="team" id="champion"></div>
            </div>
        </div>
        <div class="column right">
            <div class="round round-of-2">
                <div class="match">
                    <div class="team top" id="semi-final2-top"></div>
                    <div class="team bottom" id="semi-final2-bottom"></div>
                </div>
            </div>
        </div>
        <div class="column right">
            <div class="round round-of-4">
                <div class="match">
                    <div class="team top" id="team5" hx-post="/update-match" hx-target="#semi-final2-top" hx-swap="outerHTML" hx-vals='{"team_id": "team5"}'>Team5</div>
                    <div class="team bottom" id="team6" hx-post="/update-match" hx-target="#semi-final2-top" hx-swap="outerHTML" hx-vals='{"team_id": "team6"}'>Team6</div>
                </div>
                <div class="match">
                    <div class="team top" id="team7" hx-post="/update-match" hx-target="#semi-final2-bottom" hx-swap="outerHTML" hx-vals='{"team_id": "team7"}'>Team7</div>
                    <div class="team bottom" id="team8" hx-post="/update-match" hx-target="#semi-final2-bottom" hx-swap="outerHTML" hx-vals='{"team_id": "team8"}'>Team8</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/htmx.org"></script>


</body>
</html>