<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <title>Song Tournament - Fill Out 64 Song Bracket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/bracket_styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/bracket_styles_64.css') }}" rel="stylesheet">
    <script src="/static/htmx.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">

{% include 'header.html' %}

<div class="row">
    <div class="column">
        <h2>Tournament: {{ bracket.name }} </h2>
        <div class="grid gap-0">
            <div class="fs-3 p-2 g-col-12 text-secondary text-center">Songs: {{ bracket.pool_size }}</div>
        </div>
    </div>
</div>


<div class="scroll-container">
    <div class="tournament-bracket">
        <div class="column first-64 left">
            <div class="match" id="first-64-left-top-1">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-1" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[0]['id'] }}',
                                 title: '{{ bracket.seed_list[0]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[0]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-1'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[0]['id'] }}">{{ bracket.seed_list[0]['title'] }} - {{ bracket.seed_list[0]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-1" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[63]['id'] }}',
                                 title: '{{ bracket.seed_list[63]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[63]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-1'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[63]['id'] }}">{{ bracket.seed_list[63]['title'] }} - {{bracket.seed_list[63]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-top-2">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-1" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[31]['id'] }}',
                                 title: '{{ bracket.seed_list[31]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[31]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-1'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[31]['id'] }}">{{ bracket.seed_list[31]['title'] }} - {{ bracket.seed_list[31]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-1" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[32]['id'] }}',
                                 title: '{{ bracket.seed_list[32]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[32]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-1'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[32]['id'] }}">{{ bracket.seed_list[32]['title'] }} - {{bracket.seed_list[32]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-top-3">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-2" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[20]['id'] }}',
                                 title: '{{ bracket.seed_list[20]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[20]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-2'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[20]['id'] }}">{{ bracket.seed_list[20]['title'] }} - {{ bracket.seed_list[20]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-2" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[43]['id'] }}',
                                 title: '{{ bracket.seed_list[43]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[43]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-2'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[43]['id'] }}">{{ bracket.seed_list[43]['title'] }} - {{bracket.seed_list[43]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-top-4">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-2" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[12]['id'] }}',
                                 title: '{{ bracket.seed_list[12]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[12]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-2'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[12]['id'] }}">{{ bracket.seed_list[12]['title'] }} - {{ bracket.seed_list[12]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-2" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[51]['id'] }}',
                                 title: '{{ bracket.seed_list[51]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[51]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-2'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[51]['id'] }}">{{ bracket.seed_list[51]['title'] }} - {{bracket.seed_list[51]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-top-5">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-3" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[11]['id'] }}',
                                 title: '{{ bracket.seed_list[11]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[11]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-3'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[11]['id'] }}">{{ bracket.seed_list[11]['title'] }} - {{ bracket.seed_list[11]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-3" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[52]['id'] }}',
                                 title: '{{ bracket.seed_list[52]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[52]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-3'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[52]['id'] }}">{{ bracket.seed_list[52]['title'] }} - {{bracket.seed_list[52]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-top-6">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-3" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[19]['id'] }}',
                                 title: '{{ bracket.seed_list[19]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[19]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-3'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[19]['id'] }}">{{ bracket.seed_list[19]['title'] }} - {{ bracket.seed_list[19]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-3" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[44]['id'] }}',
                                 title: '{{ bracket.seed_list[44]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[44]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-3'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[44]['id'] }}">{{ bracket.seed_list[44]['title'] }} - {{bracket.seed_list[44]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-top-7">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-4" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[27]['id'] }}',
                                 title: '{{ bracket.seed_list[27]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[27]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-4'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[27]['id'] }}">{{ bracket.seed_list[27]['title'] }} - {{ bracket.seed_list[27]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-4" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[36]['id'] }}',
                                 title: '{{ bracket.seed_list[36]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[36]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-4'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[36]['id'] }}">{{ bracket.seed_list[36]['title'] }} - {{bracket.seed_list[36]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-top-8">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-4" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[7]['id'] }}',
                                 title: '{{ bracket.seed_list[7]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[7]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-4'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[7]['id'] }}">{{ bracket.seed_list[7]['title'] }} - {{ bracket.seed_list[7]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-4" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[56]['id'] }}',
                                 title: '{{ bracket.seed_list[56]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[56]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-4'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[56]['id'] }}">{{ bracket.seed_list[56]['title'] }} - {{bracket.seed_list[56]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-bottom-1">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-5" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[4]['id'] }}',
                                 title: '{{ bracket.seed_list[4]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[4]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-5'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[4]['id'] }}">{{ bracket.seed_list[4]['title'] }} - {{ bracket.seed_list[4]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-5" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[59]['id'] }}',
                                 title: '{{ bracket.seed_list[59]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[59]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-5'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[59]['id'] }}">{{ bracket.seed_list[59]['title'] }} - {{bracket.seed_list[59]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-bottom-2">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-5" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[24]['id'] }}',
                                 title: '{{ bracket.seed_list[24]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[24]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-5'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[24]['id'] }}">{{ bracket.seed_list[24]['title'] }} - {{ bracket.seed_list[24]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-5" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[39]['id'] }}',
                                 title: '{{ bracket.seed_list[39]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[39]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-5'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[39]['id'] }}">{{ bracket.seed_list[39]['title'] }} - {{bracket.seed_list[39]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-bottom-3">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-6" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[23]['id'] }}',
                                 title: '{{ bracket.seed_list[23]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[23]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-6'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[23]['id'] }}">{{ bracket.seed_list[23]['title'] }} - {{ bracket.seed_list[23]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-6" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[40]['id'] }}',
                                 title: '{{ bracket.seed_list[40]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[40]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-6'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[40]['id'] }}">{{ bracket.seed_list[40]['title'] }} - {{bracket.seed_list[40]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-bottom-4">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-6" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[8]['id'] }}',
                                 title: '{{ bracket.seed_list[8]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[8]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-6'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[8]['id'] }}">{{ bracket.seed_list[8]['title'] }} - {{ bracket.seed_list[8]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-6" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[55]['id'] }}',
                                 title: '{{ bracket.seed_list[55]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[55]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-6'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[55]['id'] }}">{{ bracket.seed_list[55]['title'] }} - {{bracket.seed_list[55]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-bottom-5">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-7" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[15]['id'] }}',
                                 title: '{{ bracket.seed_list[15]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[15]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-7'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[15]['id'] }}">{{ bracket.seed_list[15]['title'] }} - {{ bracket.seed_list[15]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-7" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[48]['id'] }}',
                                 title: '{{ bracket.seed_list[48]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[48]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-7'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[48]['id'] }}">{{ bracket.seed_list[48]['title'] }} - {{bracket.seed_list[48]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-bottom-6">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-7" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[16]['id'] }}',
                                 title: '{{ bracket.seed_list[16]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[16]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-7'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[16]['id'] }}">{{ bracket.seed_list[16]['title'] }} - {{ bracket.seed_list[16]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-7" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[47]['id'] }}',
                                 title: '{{ bracket.seed_list[47]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[47]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-7'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[47]['id'] }}">{{ bracket.seed_list[47]['title'] }} - {{bracket.seed_list[47]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-bottom-7">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-8" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[28]['id'] }}',
                                 title: '{{ bracket.seed_list[28]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[28]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-8'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[28]['id'] }}">{{ bracket.seed_list[28]['title'] }} - {{ bracket.seed_list[28]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-top-8" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[35]['id'] }}',
                                 title: '{{ bracket.seed_list[35]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[35]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-top-8'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[35]['id'] }}">{{ bracket.seed_list[35]['title'] }} - {{bracket.seed_list[35]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-left-bottom-8">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-8" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[3]['id'] }}',
                                 title: '{{ bracket.seed_list[3]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[3]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-8'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[3]['id'] }}">{{ bracket.seed_list[3]['title'] }} - {{ bracket.seed_list[3]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-left-bottom-8" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[60]['id'] }}',
                                 title: '{{ bracket.seed_list[60]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[60]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-left-bottom-8'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[60]['id'] }}">{{ bracket.seed_list[60]['title'] }} - {{bracket.seed_list[60]['artist'] }}</div>
                </button>
            </div>
        </div>
        <div class="column next-32 left">
            <div class="match"><div class="team" id="rnd32-left-top-1"></div><div class="team" id="rnd32-left-bottom-1"></div></div>
            <div class="match"><div class="team" id="rnd32-left-top-2"></div><div class="team" id="rnd32-left-bottom-2"></div></div>
            <div class="match"><div class="team" id="rnd32-left-top-3"></div><div class="team" id="rnd32-left-bottom-3"></div></div>
            <div class="match"><div class="team" id="rnd32-left-top-4"></div><div class="team" id="rnd32-left-bottom-4"></div></div>
            <div class="match"><div class="team" id="rnd32-left-top-5"></div><div class="team" id="rnd32-left-bottom-5"></div></div>
            <div class="match"><div class="team" id="rnd32-left-top-6"></div><div class="team" id="rnd32-left-bottom-6"></div></div>
            <div class="match"><div class="team" id="rnd32-left-top-7"></div><div class="team" id="rnd32-left-bottom-7"></div></div>
            <div class="match"><div class="team" id="rnd32-left-top-8"></div><div class="team" id="rnd32-left-bottom-8"></div></div>
        </div>
        <div class="column sweet-16 left">
            <div class="match"><div class="team" id="swt-left-top-1"></div><div class="team" id="swt-left-bottom-1"></div></div>
            <div class="match"><div class="team" id="swt-left-top-2"></div><div class="team" id="swt-left-bottom-2"></div></div>
            <div class="match"><div class="team" id="swt-left-top-3"></div><div class="team" id="swt-left-bottom-3"></div></div>
            <div class="match"><div class="team" id="swt-left-top-4"></div><div class="team" id="swt-left-bottom-4"></div></div>
        </div>
        <div class="column elite-8 left">
            <div class="match"><div class="team" id="elite-left-top-1"></div><div class="team" id="elite-left-bottom-1"></div></div>
            <div class="match"><div class="team" id="elite-left-top-2"></div><div class="team" id="elite-left-bottom-2"></div></div>
        </div>
        <div class="column semi-finals left">
            <div class="match" id="semi-final-left">
                <div class="team" id="semi-final-left-top"></div>
                <div class="team" id="semi-final-left-bottom"></div>
            </div>
        </div>
        <div class="column finals">
            <div class="match row" id="finals">
                <h3 class="text-center">Finals</h3>
                <div class="team" id="finals-top"></div>
                <div class="team" id="finals-bottom"></div>
            </div>
            <div class="champion row">
                <h3 class="text-center">Champion</h3>
                <div class="team" id="champion-team"></div>
            </div>
            <div class="match row">
                <a class="btn btn-secondary" href="/" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Caution: Its Forever">Lock It In</a>
            </div>
        </div>
        <div class="column semi-finals right">
            <div class="match" id="semi-final-right">
                <div class="team" id="semi-final-right-top"></div>
                <div class="team" id="semi-final-right-bottom"></div>
            </div>
        </div>
        <div class="column elite-8 right">
            <div class="match"><div class="team" id="elite-right-top-1"></div><div class="team" id="elite-right-bottom-1"></div></div>
            <div class="match"><div class="team" id="elite-right-top-2"></div><div class="team" id="elite-right-bottom-2"></div></div>
        </div>
        <div class="column sweet-16 right">
            <div class="match"><div class="team" id="swt-right-top-1"></div><div class="team" id="swt-right-bottom-1"></div></div>
            <div class="match"><div class="team" id="swt-right-top-2"></div><div class="team" id="swt-right-bottom-2"></div></div>
            <div class="match"><div class="team" id="swt-right-top-3"></div><div class="team" id="swt-right-bottom-3"></div></div>
            <div class="match"><div class="team" id="swt-right-top-4"></div><div class="team" id="swt-right-bottom-4"></div></div>
        </div>
        <div class="column next-32 right">
            <div class="match"><div class="team" id="rnd32-right-top-1"></div><div class="team" id="rnd32-right-bottom-1"></div></div>
            <div class="match"><div class="team" id="rnd32-right-top-2"></div><div class="team" id="rnd32-right-bottom-2"></div></div>
            <div class="match"><div class="team" id="rnd32-right-top-3"></div><div class="team" id="rnd32-right-bottom-3"></div></div>
            <div class="match"><div class="team" id="rnd32-right-top-4"></div><div class="team" id="rnd32-right-bottom-4"></div></div>
            <div class="match"><div class="team" id="rnd32-right-top-5"></div><div class="team" id="rnd32-right-bottom-5"></div></div>
            <div class="match"><div class="team" id="rnd32-right-top-6"></div><div class="team" id="rnd32-right-bottom-6"></div></div>
            <div class="match"><div class="team" id="rnd32-right-top-7"></div><div class="team" id="rnd32-right-bottom-7"></div></div>
            <div class="match"><div class="team" id="rnd32-right-top-8"></div><div class="team" id="rnd32-right-bottom-8"></div></div>
        </div>
        <div class="column first-64 right">
            <div class="match" id="first-64-right-top-1">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-1" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[1]['id'] }}',
                                 title: '{{ bracket.seed_list[1]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[1]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-1'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[1]['id'] }}">{{ bracket.seed_list[1]['title'] }} - {{ bracket.seed_list[1]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-1" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[62]['id'] }}',
                                 title: '{{ bracket.seed_list[62]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[62]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-1'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[62]['id'] }}">{{ bracket.seed_list[62]['title'] }} - {{bracket.seed_list[62]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-top-2">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-1" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[30]['id'] }}',
                                 title: '{{ bracket.seed_list[30]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[30]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-1'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[30]['id'] }}">{{ bracket.seed_list[30]['title'] }} - {{ bracket.seed_list[30]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-1" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[33]['id'] }}',
                                 title: '{{ bracket.seed_list[33]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[33]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-1'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[33]['id'] }}">{{ bracket.seed_list[33]['title'] }} - {{bracket.seed_list[33]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-top-3">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-2" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[21]['id'] }}',
                                 title: '{{ bracket.seed_list[21]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[21]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-2'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[21]['id'] }}">{{ bracket.seed_list[21]['title'] }} - {{ bracket.seed_list[21]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-2" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[42]['id'] }}',
                                 title: '{{ bracket.seed_list[42]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[42]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-2'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[42]['id'] }}">{{ bracket.seed_list[42]['title'] }} - {{bracket.seed_list[42]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-top-4">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-2" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[13]['id'] }}',
                                 title: '{{ bracket.seed_list[13]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[13]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-2'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[13]['id'] }}">{{ bracket.seed_list[13]['title'] }} - {{ bracket.seed_list[13]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-2" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[50]['id'] }}',
                                 title: '{{ bracket.seed_list[50]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[50]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-2'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[50]['id'] }}">{{ bracket.seed_list[50]['title'] }} - {{bracket.seed_list[50]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-top-5">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-3" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[10]['id'] }}',
                                 title: '{{ bracket.seed_list[10]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[10]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-3'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[10]['id'] }}">{{ bracket.seed_list[10]['title'] }} - {{ bracket.seed_list[10]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-3" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[53]['id'] }}',
                                 title: '{{ bracket.seed_list[53]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[53]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-3'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[53]['id'] }}">{{ bracket.seed_list[53]['title'] }} - {{bracket.seed_list[53]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-top-6">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-3" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[18]['id'] }}',
                                 title: '{{ bracket.seed_list[18]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[18]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-3'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[18]['id'] }}">{{ bracket.seed_list[18]['title'] }} - {{ bracket.seed_list[18]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-3" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[45]['id'] }}',
                                 title: '{{ bracket.seed_list[45]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[45]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-3'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[45]['id'] }}">{{ bracket.seed_list[45]['title'] }} - {{bracket.seed_list[45]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-top-7">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-4" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[26]['id'] }}',
                                 title: '{{ bracket.seed_list[26]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[26]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-4'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[26]['id'] }}">{{ bracket.seed_list[26]['title'] }} - {{ bracket.seed_list[26]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-4" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[37]['id'] }}',
                                 title: '{{ bracket.seed_list[37]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[37]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-4'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[37]['id'] }}">{{ bracket.seed_list[37]['title'] }} - {{bracket.seed_list[37]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-top-8">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-4" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[6]['id'] }}',
                                 title: '{{ bracket.seed_list[6]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[6]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-4'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[6]['id'] }}">{{ bracket.seed_list[6]['title'] }} - {{ bracket.seed_list[6]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-4" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[57]['id'] }}',
                                 title: '{{ bracket.seed_list[57]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[57]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-4'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[57]['id'] }}">{{ bracket.seed_list[57]['title'] }} - {{bracket.seed_list[57]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-bottom-1">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-5" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[5]['id'] }}',
                                 title: '{{ bracket.seed_list[5]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[5]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-5'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[5]['id'] }}">{{ bracket.seed_list[5]['title'] }} - {{ bracket.seed_list[5]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-5" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[58]['id'] }}',
                                 title: '{{ bracket.seed_list[58]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[58]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-5'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[58]['id'] }}">{{ bracket.seed_list[58]['title'] }} - {{bracket.seed_list[58]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-bottom-2">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-5" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[25]['id'] }}',
                                 title: '{{ bracket.seed_list[25]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[25]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-5'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[25]['id'] }}">{{ bracket.seed_list[25]['title'] }} - {{ bracket.seed_list[25]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-5" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[38]['id'] }}',
                                 title: '{{ bracket.seed_list[38]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[38]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-5'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[38]['id'] }}">{{ bracket.seed_list[38]['title'] }} - {{bracket.seed_list[38]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-bottom-3">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-6" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[22]['id'] }}',
                                 title: '{{ bracket.seed_list[22]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[22]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-6'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[22]['id'] }}">{{ bracket.seed_list[22]['title'] }} - {{ bracket.seed_list[22]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-6" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[41]['id'] }}',
                                 title: '{{ bracket.seed_list[41]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[41]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-6'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[41]['id'] }}">{{ bracket.seed_list[41]['title'] }} - {{bracket.seed_list[41]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-bottom-4">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-6" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[9]['id'] }}',
                                 title: '{{ bracket.seed_list[9]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[9]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-6'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[9]['id'] }}">{{ bracket.seed_list[9]['title'] }} - {{ bracket.seed_list[9]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-6" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[54]['id'] }}',
                                 title: '{{ bracket.seed_list[54]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[54]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-6'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[54]['id'] }}">{{ bracket.seed_list[54]['title'] }} - {{bracket.seed_list[54]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-bottom-5">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-7" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[14]['id'] }}',
                                 title: '{{ bracket.seed_list[14]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[14]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-7'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[14]['id'] }}">{{ bracket.seed_list[14]['title'] }} - {{ bracket.seed_list[14]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-7" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[49]['id'] }}',
                                 title: '{{ bracket.seed_list[49]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[49]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-7'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[49]['id'] }}">{{ bracket.seed_list[49]['title'] }} - {{bracket.seed_list[49]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-bottom-6">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-7" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[17]['id'] }}',
                                 title: '{{ bracket.seed_list[17]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[17]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-7'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[17]['id'] }}">{{ bracket.seed_list[17]['title'] }} - {{ bracket.seed_list[17]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-7" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[46]['id'] }}',
                                 title: '{{ bracket.seed_list[46]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[46]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-7'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[46]['id'] }}">{{ bracket.seed_list[46]['title'] }} - {{bracket.seed_list[46]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-bottom-7">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-8" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[29]['id'] }}',
                                 title: '{{ bracket.seed_list[29]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[29]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-8'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[29]['id'] }}">{{ bracket.seed_list[29]['title'] }} - {{ bracket.seed_list[29]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-top-8" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[34]['id'] }}',
                                 title: '{{ bracket.seed_list[34]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[34]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-top-8'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[34]['id'] }}">{{ bracket.seed_list[34]['title'] }} - {{bracket.seed_list[34]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="first-64-right-bottom-8">
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-8" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[2]['id'] }}',
                                 title: '{{ bracket.seed_list[2]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[2]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-8'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[2]['id'] }}">{{ bracket.seed_list[2]['title'] }} - {{ bracket.seed_list[2]['artist'] }}</div>
                </button>
                <button hx-post="/update_match/{{ f_brkt_id }}" hx-target="#rnd32-right-bottom-8" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[61]['id'] }}',
                                 title: '{{ bracket.seed_list[61]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[61]['artist'] | handle_stupid_chars }}',
                                 target: 'rnd32-right-bottom-8'"
                        class="team">
                    <div id="song_{{ bracket.seed_list[61]['id'] }}">{{ bracket.seed_list[61]['title'] }} - {{bracket.seed_list[61]['artist'] }}</div>
                </button>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>