<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <title>Song Tournament - 64 Song Bracket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

{% include 'header.html' %}

<div class="scroll-container">
    <div>
        {% bracket.name %} <br>
        {% bracket.pool_size %}
    </div>
    <div class="tournament-bracket">
        <div class="column left">
            <div class="round round-of-16">
                <div class="match"><div class="team top">Team1</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team3</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team5</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team7</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team9</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team11</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team13</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team15</div><div class="team bottom">Team2</div></div>
            </div>
        </div>
        <div class="column left">
            <div class="round round-of-8">
                <div class="match"><div class="team top">Team1</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team3</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team5</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team7</div><div class="team bottom">Team2</div></div>
            </div>
        </div>
        <div class="column left">
            <div class="round round-of-4">
                <div class="match"><div class="team top">Team1</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team3</div><div class="team bottom">Team2</div></div>
            </div>
        </div>
        <div class="column left">
            <div class="round round-of-2">
                <div class="match"><div class="team top">Team1</div><div class="team bottom">Team2</div></div>
            </div>
        </div>
        <div class="champion">
            <div class="final">
                <div class="team">Philadelphia Eagles</div>
            </div>
        </div>
        <div class="column right">
            <div class="round round-of-2">
                <div class="match"><div class="team top">Team1</div><div class="team bottom">Team2</div></div>
            </div>
        </div>
        <div class="column right">
            <div class="round round-of-4">
                <div class="match"><div class="team top">Team1</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team3</div><div class="team bottom">Team2</div></div>
            </div>
        </div>
        <div class="column right">
            <div class="round round-of-8">
                <div class="match"><div class="team top">Team1</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team3</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team5</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team7</div><div class="team bottom">Team2</div></div>
            </div>
        </div>
        <div class="column right">
            <div class="round round-of-16">
                <div class="match"><div class="team top">Team1</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team3</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team5</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team7</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team9</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team11</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team13</div><div class="team bottom">Team2</div></div>
                <div class="match"><div class="team top">Team15</div><div class="team bottom">Team2</div></div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>