<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <title>Song Tournament - Fill Out 8 Song Bracket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/bracket_styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/bracket_styles_8.css') }}" rel="stylesheet">
    <script src="/static/htmx.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">

{% include 'header.html' %}

<div class="row">
    <div class="column">
        <h2>Tournament: {{ bracket.name }} </h2>
        <h3>Songs: {{ bracket.pool_size }} </h3>
    </div>
</div>

<div class="scroll-container">
    <div class="tournament-bracket">
        <div class="column elite-8 left">
            <div class="match" id="elite-8-left-top">
                <button hx-get="/update_match_semifinal" hx-target="#semi-final-left-top" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[0]['id'] }}',
                                 title: '{{ bracket.seed_list[0]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[0]['artist'] | handle_stupid_chars }}',
                                 target: 'semi-final-left-top'"
                        class="team top">
                    <div id="song_{{ bracket.seed_list[0]['id'] }}">{{ bracket.seed_list[0]['title'] }} - {{ bracket.seed_list[0]['artist'] }}</div>
                </button>
                <button hx-get="/update_match_semifinal" hx-target="#semi-final-left-top" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[7]['id'] }}',
                                 title: '{{ bracket.seed_list[7]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[7]['artist'] | handle_stupid_chars }}',
                                 target: 'semi-final-left-top'"
                        class="team top">
                    <div id="song_{{ bracket.seed_list[7]['id'] }}">{{ bracket.seed_list[7]['title'] }} - {{bracket.seed_list[7]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="elite-8-left-bottom">
                <button hx-get="/update_match_semifinal" hx-target="#semi-final-left-bottom" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[3]['id'] }}',
                                 title: '{{ bracket.seed_list[3]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[3]['artist'] | handle_stupid_chars }}',
                                 target: 'semi-final-left-bottom'"
                        class="team top">
                    <div id="song_{{ bracket.seed_list[3]['id'] }}">{{ bracket.seed_list[3]['title'] }} - {{bracket.seed_list[3]['artist'] }}</div>
                </button>
                <button hx-get="/update_match_semifinal" hx-target="#semi-final-left-bottom" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[4]['id'] }}',
                                 title: '{{ bracket.seed_list[4]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[4]['artist'] | handle_stupid_chars }}',
                                 target: 'semi-final-left-bottom'"
                        class="team top">
                    <div id="song_{{ bracket.seed_list[4]['id'] }}">{{ bracket.seed_list[4]['title'] }} - {{bracket.seed_list[4]['artist'] }}</div>
                </button>
            </div>
        </div>
        <div class="column semi-finals left">
                <div class="match" id="semi-final-left">
                    <button class="team top" id="semi-final-left-top">
                        <div></div>
                    </button>
                    <button class="team bottom" id="semi-final-left-bottom">
                        <div></div>
                    </button>
                </div>
        </div>
        <div class="column finals">
            <div class="match row" id="finals">
                <h3 class="text-center">Finals</h3>
                <div class="team top" id="finals-top"></div>
                <div class="team bottom" id="finals-bottom"></div>
            </div>
            <div class="champion row" id="champion-team">
                <h3 class="text-center">Champion</h3>
                <div class="team"></div>
            </div>
        </div>
        <div class="column semi-finals right">
            <div class="match" id="semi-final-right">
                <div class="team top" id="semi-final-right-top"></div>
                <div class="team bottom" id="semi-final-right-bottom"></div>
            </div>
        </div>
        <div class="column elite-8 right">
            <div class="match" id="elite-8-right-top">
                <button hx-get="/update_match_semifinal" hx-target="#semi-final-right-top" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[1]['id'] }}',
                                 title: '{{ bracket.seed_list[1]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[1]['artist'] | handle_stupid_chars }}',
                                 target: 'semi-final-right-top'"
                        class="team top">
                    <div id="song_{{ bracket.seed_list[1]['id'] }}">{{ bracket.seed_list[1]['title'] }} - {{ bracket.seed_list[1]['artist'] }}</div>
                </button>
                <button hx-get="/update_match_semifinal" hx-target="#semi-final-right-top" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[6]['id'] }}',
                                 title: '{{ bracket.seed_list[6]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[6]['artist'] | handle_stupid_chars }}',
                                 target: 'semi-final-right-top'"
                        class="team top">
                    <div id="song_{{ bracket.seed_list[6]['id'] }}">{{ bracket.seed_list[6]['title'] }} - {{bracket.seed_list[6]['artist'] }}</div>
                </button>
            </div>
            <div class="match" id="elite-8-right-bottom">
                <button hx-get="/update_match_semifinal" hx-target="#semi-final-right-bottom" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[2]['id'] }}',
                                 title: '{{ bracket.seed_list[2]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[2]['artist'] | handle_stupid_chars }}',
                                 target: 'semi-final-right-bottom'"
                        class="team top">
                    <div id="song_{{ bracket.seed_list[2]['id'] }}">{{ bracket.seed_list[2]['title'] }} - {{bracket.seed_list[2]['artist'] }}</div>
                </button>
                <button hx-get="/update_match_semifinal" hx-target="#semi-final-right-bottom" hx-swap="outerHTML" hx-trigger="click"
                        hx-params="id, title, artist, target"
                        hx-vars="id: '{{ bracket.seed_list[5]['id'] }}',
                                 title: '{{ bracket.seed_list[5]['title'] | handle_stupid_chars }}',
                                 artist: '{{ bracket.seed_list[5]['artist'] | handle_stupid_chars }}',
                                 target: 'semi-final-right-bottom'"
                        class="team top">
                    <div id="song_{{ bracket.seed_list[5]['id'] }}">{{ bracket.seed_list[5]['title'] }} - {{bracket.seed_list[5]['artist'] }}</div>
                </button>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<form id="save-bracket-form" hidden>

</form>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>