<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <title>Song Tournament - View Bracket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Uncomment after testing {% include 'header.html' %} -->

    <div class="h-100 bracket-container">
        <div class="row flex-nowrap">
            <div class="col" id="left32">Left 32</div>
            <div class="col" id="left16">Left 16</div>
            <div class="col" id="left8">Left 8</div>
            <div class="col" id="left4">Left 4</div>
            <div class="col" id="left2">Left 2</div>
            <div class="col" id="finals">
                <div class="row" id="lastMatch">Last Match</div>
                <div class="row" id="champion">Champion</div>
            </div>
            <div class="col" id="right2">Right 2</div>
            <div class="col" id="right4">Right 4</div>
            <div class="col" id="right8">Right 8</div>
            <div class="col" id="right16">Right 16</div>
            <div class="col" id="right32">Right 32</div>
        </div>
    </div>

    <!-- Uncomment after testing {% include 'footer.html' %} -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>