/* Spacing for 64 song bracket */
.first-64 .match { margin-top: 10px; margin-bottom: 10px; }
.next-32 .match { margin-top: 65px; margin-bottom: 65px; }
.sweet-16 .match { margin-top: 175px; margin-bottom: 175px; }
.elite-8 .match { margin-top: 395px; margin-bottom: 395px; }
.semi-finals .match { margin-top: 760px; margin-bottom: 760px; }

.next-32 .match:first-child { margin-top: 60px; }
.next-32 .match:last-child { margin-bottom: 10px; }

.sweet-16 .match:first-child { margin-top: 170px; }
.sweet-16 .match:last-child { margin-bottom: 170px; }

.elite-8 .match:first-child { margin-top: 390px; }
.elite-8 .match:last-child { margin-bottom: 390px; }

.semi-finals .match:first-child { margin-top: 825px; }
.semi-finals .match:last-child { margin-bottom: 240px; }

.finals .match:first-child { margin-top: 60px; }
.finals .match:last-child { margin-bottom: 60px; }

.champion {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.finals .match .team {
    background-color: #afcecf;
}

.final .team {
    margin: 0;
    background-color: gold;
}



