html, body {
    margin: 0;
    height: 100%
    width: 100%;  /* use full viewport width always */
    overflow-x: hidden; /* added to stop horizontal overflow, idk why its happening */
}

.scroll-container {
    position: fixed; /* Should this be absolute? */
    top: 163px; /* header is nav-bar, 56px, title row 106px */
    left: 0;
    right: 0;
    bottom: 48px; /* footer is about 48 px */
    overflow-y: auto; /* for vertical scrolling */
    overflow-x: scroll; /* always show horizontal scrollbar */
}

/* flex-wrap and overflow may not be needed for wrapping if necessary */
.tournament-bracket {
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: visible;
}

/* Keep all things in column aligned vertical, give some margin around it */
.column, .match {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
}

/* Idk if I'm doing this right, but need same column display, flex to get spacing i want */
.match {
    justify-content: center;
    margin: 10px;
}

.team {
    min-width: 400px; /* width that fits most song and artist combo, i hope  */
    height: 40px;
    background-color: #f0f0f0;
    margin: 2px 0;
    padding: 5px 10px;
    text-align: center;
    display: inline-flex; /* inline-flex allows width growth */
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap; /* prevents text wrapping */
}