/* Spacing for 16 song bracket */
.sweet-16 .match { margin-top: 10px; margin-bottom: 10px; }
.elite-8 .match { margin-top: 65px; margin-bottom: 65px; }
.semi-finals .match { margin-top: 175px; margin-bottom: 175px; }

.elite-8 .match:first-child { margin-top: 60px; }
.elite-8 .match:last-child { margin-bottom: 10px; }

.semi-finals .match:first-child { margin-top: 170px; }
.semi-finals .match:last-child { margin-bottom: 170px; }

.finals .match:first-child { margin-top: 170px; }
.finals .match:last-child { margin-bottom: 60px; }

.champion {
    align-items: center;
    justify-content: center;
    margin: 2px 0;
    padding: 40px 10px 10px 10px;
}

.finals .match .team {
    background-color: #afcecf;
}

.champion .team {
    background-color: gold;
}

