.bracket-container {
  width: 2000px;
  overflow-x: auto;
  white-space: nowrap;
}

.tournament {
  display: flex;
  flex-direction: row;
}

.tournament .round {
  font-size: .75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  list-style: none;
  padding: 0;
}

.match-left {
  font-size: 0.5em;
  padding-left: 0.5em;
  border-right: 2px solid #aaa;
}

.match-right {
  font-size: 0.5em;
  padding-right: 0.5em
  border-left: 2px solid #aaa;
}

.song-top {
  border-bottom: 2px solid #aaa;
}

.song-bottom {
  border-bottom: 2px solid #aaa;
}

.left-spacer {
  border-right: 2px solid #aaa;
  min-height: 5px;
  padding-right: 0.25em;
}

.right-spacer {
  border-left: 2px solid #aaa;
  min-height: 5px;
  padding-left:.25em;
  text-align: left;
}