<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <title>Song Tournaments - Create a Tournament</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

    {% include 'header.html' %}

    <div class="container-fluid h-100">
        <div class="row mb-3 h-100 align-items-center">
            <form id="tourneySetup">
                <label for="bracketName" class="form-label">Tournament Name: </label>
                <input type=text class="form-control" id="bracketName">
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Seeding</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadio1" value="input_order" checked>
                            <label class="form-check-label" for="gridRadio1">My Input Order</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadio2" value="random">
                            <label class="form-check-label" for="gridRadio2">Random</label>
                        </div>
                    </div>
                </fieldset>
                <label for="bracketSize">Bracket Size: </label>
                <select class="form-select" id="bracketSize" name="num_songs">
                    <option value="8">8</option>
                    <option value="16">16</option>
                    <option value="32">32</option>
                    <option value="64">64</option>
                </select>
                <div id="songsContainer"></div>
                <button type="submit" class="btn btn-primary">Create Tournament</button>

            </form>
        </div>
    </div>

    {% include 'footer.html' %}

    <script>
        function updateSongs() {
            const bracketSize = parseInt(document.getElementById('bracketSize').value);
            const songsContainer = document.getElementById('songsContainer') || createSongsContainer();
            let existingSongs = [];

            // Before clearing songs, save current songs entered
            const currentSongInputs = songsContainer.getElementsByClassName('song');
            for (let i = 0; i < currentSongInputs.length; i++) {
                    let title = currentSongInputs[i].querySelector(`input[name="songs[${i}][title]"]`).value;
                    let artist = currentSongInputs[i].querySelector(`input[name="songs[${i}][artist]"]`).value;
                    let clipUrl = currentSongInputs[i].querySelector(`input[name="songs[${i}][clip_url]"]`).value;
                    existingSongs.push({ title, artist, clipUrl });
                }

            // Clear existing song inputs
            songsContainer.innerHTML = ''; // Clear existing song inputs

            for (let i = 0; i < bracketSize; i++) {
                const songDiv = document.createElement('div');
                songDiv.className = 'song row mb-3';

                // Create a label for each song group
                const songLabel = document.createElement('h5');
                songLabel.innerText = `Song ${i + 1}`;
                songDiv.appendChild(songLabel);

                // Creating each input field within a 'col' class for alignment
                const titleInput = createSongInput(`songs[${i}][title]`, 'Title', 'col-3', existingSongs[i]?.title);
                const artistInput = createSongInput(`songs[${i}][artist]`, 'Artist', 'col-3', existingSongs[i]?.artist);
                const clipUrlInput = createSongInput(`songs[${i}][clip_url]`, 'Clip URL', 'col-6', existingSongs[i]?.clipUrl);

                songDiv.appendChild(titleInput);
                songDiv.appendChild(artistInput);
                songDiv.appendChild(clipUrlInput);

                songsContainer.appendChild(songDiv);
            }
        }

        function createSongsContainer() {
            const container = document.createElement('div');
            container.id = 'songsContainer';
            document.getElementById('tourneySetup').appendChild(container);
            return container;
        }

        function createSongInput(name, placeholder, className, value = '') {
            const inputGroup = document.createElement('div');
            inputGroup.className = `${className} input-group mb-3`;

            const input = document.createElement('input');
            input.type = 'text';
            input.className = 'form-control';
            input.name = name;
            input.placeholder = placeholder;
            input.value = value;

            inputGroup.appendChild(input);
            return inputGroup;
        }

        document.getElementById('bracketSize').addEventListener('change', updateSongs);
        document.addEventListener('DOMContentLoaded', updateSongs);
    </script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>